Binaries
BlockGame
Hour_of_Code
LearningKit_Games
LearningKit_Robots
SCK_Casual01
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace